.swagger-ui,
.swagger-ui * {
    color: var(--foreground) !important;
}

.swagger-ui .scheme-container {
    background-color: var(--card) !important;
}

.swagger-ui select {
    background-color: var(--input) !important;
}

.swagger-ui .opblock .opblock-section-header {
    background: hsl(var(--card)) !important;
    color: hsl(var(--foreground)) !important;
}

.swagger-ui .opblock-body pre.microlight {
    background: hsl(var(--card)) !important;
    color: hsl(var(--foreground)) !important;
}

.swagger-ui input {
    background: hsl(var(--input)) !important;
    color: hsl(var(--foreground)) !important;
}

.swagger-ui svg:not(:root) {
    fill: hsl(var(--foreground)) !important;
}

.swagger-ui .opblock-summary-method {
    color: hsl(var(--card)) !important;
}